<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <header>
        / <a href="/">Home</a> / <a href="/about">About</a> / <a href="/items">Items </a>
    </header>

    <h2>Это главная страница сайта</h2> <br>
    <i>Сайт пока в разработке</i><br>
    <strong>Автор</strong>: <i>Косарев В.Е.</i>
    <br>
    <br>
    <a href = "/about">About</a>
    <br>
    <br>
    <a href = "/items">Список товаров</a>
   
</body>
</html>