<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <h1> Приветствую! </h1>
    
    <h2>Меня зовут: <i>{{ name }}</i><br>
    Мой email: <i>{{ email }}</i><br>
    Это главная страница сайта</h2> <br>
    <i>Сайт пока в разработке</i><br>
    <strong>Автор</strong>: <i>Косарев В.Е.</i>
    <br>
    <br>
    <a href = "/about">About</a>
    <br>
    <br>
    <a href = "/items">Список товаров</a>
   
</body>
</html>