{% extends 'base.html' %}
{% load static %}

{% block title %} Сведения о товаре {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static '/MainApp/color.css' %}">
{% endblock  %}

{% block content %}

    <h1> Имя: {{ item.name }} </h1><br>
        <div>
            <h1> Количество: {{ item.count| default:"Товар отсутствует"}} </h1>
        </div>
        <div> 
            <h1> Brand: {{ item.brand }} </h1>
        </div>
        <div> 
            <h1> Описание: {{ item.description }} </h1>
        </div>

    <h3> Цвета: </h3>
    <ul class='ul_no_mark'>
        {% for color in colors %}
            <li> 
                <span class="color-box" style='background-color: {{ color.name }};'></span> 
                {{ color.name }}    
            </li>       
        {% empty %}
            Информация по цветам отсутствует.
        {% endfor %}
    </ul>

{% endblock %}
