<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сведения о товаре</title>
</head>
<body>
    <header>
        / <a href="/">Home</a> / <a href="/about">About</a> / <a href="/items">Список товаров </a>
    </header>

    <h1> Имя: {{ item.name }} </h1><br>
        {%if item.count == 0 %}
            <h1> Количество: Товар отсутствует </h1>
        {% else %}    
            <h1> Brand: {{ item.brand }} </h1>
            <h1> Количество: {{ item.count }} </h1>
        {%  endif %}
</body>
</html>